.button-connector {
  --button-connector-color: #1b1d1e;
  --button-connector-border-color: color-mix(in srgb, var(--button-connector-color) 90%, white);
  --button-connector--enabled-color: #303232; 
  --button-connector--enabled-border-color: color-mix(in srgb, var(--button-connector--enabled-color) 90%, white);

  background-color: var(--button-connector-color);

  border-color: var(--button-connector-border-color);
  border-width: 1px 0;
  border-style: solid;

  height: 14px;
  width: 108px;

  z-index: 10;

  transition: background-color .2s, border-color .2s;

  &.enabled {
    background-color: var(--button-connector--enabled-color);
  
    border-color: var(--button-connector--enabled-border-color);
  }
}
