.calculator-container {
  display: grid;
  grid-template-rows: 55px 1fr;
  grid-template-columns: 75% 25%;
  grid-template-areas:
    "title title"
    "paths counter";
  row-gap: 20px;
  justify-items: center;
  align-items: center;

  background-image: url("../../../assets/talent-calc-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  box-sizing: border-box;
  height: var(--application-height);
  width: var(--application-width);

  padding: 30px;

  border: 1px #aaaaaa10 solid;
}
